
/front/node_modules
/front/build

/back/node_modules
/back/uploads/images
/back/uploads/instructions
/back/build

/lego-manager-backend-images
/lego-manager-backend-instructions
/lego-manager-db-data

/front/.env
/back/.env
.env.backend
.env.frontend
.env.db
.env
/front/.svelte-kit
/front/.svelte-kit
