
/front/node_modules
/back/node_modules
/back/uploads
/back/build
/back/build
/front/build
/back/build
/back/build
/back/build
/lego-manager-backend-images
/lego-manager-backend-instructions

/lego-manager-db-data
.env.backend
.env.db
.env
.env
.env.frontend
