@import url('https://fonts.googleapis.com/css2?family=Saira:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    body {
        @apply text-zinc-100 bg-gradient-to-tr from-black from-30% via-gray-950 via-60% to-[#1f0336] to-90% bg-no-repeat bg-cover min-h-screen;
        font: Saira;
        font-family: 'Saira', sans-serif;
    }

    blockquote,
    dl,
    dd,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    figure,
    p,
    pre {
        margin: 0;
        padding: 0;
    }
}

@layer components {
    .border-main {
        @apply border-t-3 border-zinc-600;
    }

    .my-input {
        @apply placeholder:italic placeholder:text-gray-700 text-sm text-zinc-100 w-full px-3 py-2 bg-zinc-900 border-2 border-transparent focus:border-purple-950 ring-0 focus:ring-0 outline-none focus:outline-none transition-all;
    }
}